// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 FriendlyElec Computer Tech. Co., Ltd.
 * (http://www.friendlyelec.com)
 */

/dts-v1/;
#include "rk3399.dtsi"
#include "rk3399-opp.dtsi"

/ {
	model = "X3399 Linux Board";
	compatible = "x3399,linux", "rockchip,rk3399";

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	aliases {
		ethernet0 = &gmac0;
		serial2 = &uart2;
	};

	memory@00000000 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&led_act_pin>;

		led-act {
			label = "x3399:green:act";
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pwr_key_pin>;

		power {
			label = "power";
			gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			wakeup-source;
		};
	};

	usb20_host: usb20-host {
		compatible = "usb-bus";
		#address-cells = <1>;
		#size-cells = <0>;
	};

	usb30_host: usb30-host {
		compatible = "usb-bus";
		#address-cells = <1>;
		#size-cells = <0>;
	};

	vcc5v0_host: vcc5v0-host {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio0 11 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vcc3v0_sd: vcc3v0-sd {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v0_sd";
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;
		gpio = <&gpio0 10 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vcc1v8_sd: vcc1v8-sd {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_sd";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&gpio0 9 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vcc3v0_sdio: vcc3v0-sdio {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v0_sdio";
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;
		gpio = <&gpio0 8 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vcc1v8_sdio: vcc1v8-sdio {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_sdio";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&gpio0 7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vcc3v0_pcie: vcc3v0-pcie {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v0_pcie";
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;
		gpio = <&gpio0 6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vcc1v8_pcie: vcc1v8-pcie {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_pcie";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&gpio0 5 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vcc3v0_hdmi: vcc3v0-hdmi {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v0_hdmi";
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;
		gpio = <&gpio0 4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vcc1v8_hdmi: vcc1v8-hdmi {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_hdmi";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&gpio0 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vcc3v0_eth: vcc3v0-eth {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v0_eth";
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;
		gpio = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vcc1v8_eth: vcc1v8-eth {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_eth";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&gpio0 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&uart2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart2m0_xfer>;
};

&gmac0 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&phy0>;
};

&pinctrl {
	leds {
		led_act_pin: led-act-pin {
			rockchip,pins = <0 13 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	keys {
		pwr_key_pin: pwr-key-pin {
			rockchip,pins = <0 12 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
